
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b5896;
  padding: 15px;
  color: white;
  height: 30px;

}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans;
  text-decoration: none;
  color: white;
  font-weight: 800;
  transition: color 0.3s;

}




.arriva-logo {
  background-color: #1a7adb;
  padding: 10px;
  height: 20px;
}

.contacto {
  text-decoration: none;
  color: white;
  text-align: center;
  margin-top: auto;



}

.contacto:hover {
  color: #3498DB;

}




.atras {
  display: inline-block;
  /* Hace que se comporte como botón */
  padding: 6px 10px;
  /* Espaciado interno */
  background-color: #1b5896;
  /* Color de fondo */
  color: #fff;
  /* Color del texto */
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  /* Saca el subrayado del enlace */
  border-radius: 8px;
  /* Bordes redondeados */
  margin-top: 1rem;
  /* Separación superior */
  transition: all 0.3s ease;
}

.atras:hover {

  background-color: #3498DB;
  /* Color al pasar el mouse */
  color: #0d3b8b;
  /* Texto se vuelve azul */
  transform: scale(1.05);
}


























/* Footer */
footer {
    background-color: #1b5896;
    color: white;
    padding: 2rem 0;
    margin-top: 3rem;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
}

.footer-container p {
    margin-bottom: 1rem;
}

.footer-container a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.footer-container a:hover{
 color: #3498DB;
  transform: scale(1.10);
}